<footer class="bottom">
    <p>pks solutions</p>
    <div id="pages-link">
        <ul id="footer-link">
            <li>
                <a href="/">Home</a>
            </li>
            <% if (locals.user) {%>
                <li>
                    <a href="/users">
                        profile
                    </a>
                </li>
            <% } %>
        </ul>           
    </div>
</footer>