<header class="heading">
   <h1 id="hname">Codeial</h1>
    <ul id="header-link">
        <% if (locals.user) {%>
            <li>
                <a href="/users/profile"><%= user.name %>
                    
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else { %>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>