.signUp{
    display: flex;
    width: 50%;
    input{
        padding: 10px;
        margin: 10px;
    }
    #btn{
        background-color: midnightblue;
        border: none;
        color: whitesmoke;
    }
}